@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

.font-load {
  font-family: 'Lato', sans-serif;
  position: absolute;
}
body {
  font-family: 'Lato', sans-serif;
}
.container {
	padding-top: 75px;
}
.browser-warning {
	text-align: center;
	margin-top: 25px;
	font-size: 20px;
}
.name-grid {
	list-style: none;
	padding: 0;
}
.letter {
	font-size: 5em;
	line-height: 1.5;
	max-height: 290px;
	text-align: center;
}
.apology-text {
	font-size: 35px;
	text-align: center;
	margin-top: 100px;
}
.email {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 20px;
}
